<h1><%= t('trader_title') %></h1>
<h2>加入的商家可以：</h2>
<ol>
  <li>创建商品分组</li>
  <li>发布商品介绍</li>
  <li>与顾客及时聊天</li>
</ol>
<p> 还等什么，赶快
        <%= link_to '注册', new_user_registration_url(subdomain: ENV['SUBDOMAIN']) %>
  吧，记得把“我是商家”勾上哦。 </p>
