<div class="footer-container">
  <p id="copyright">柳州夜市版权所有 2012-2013</p>
  <ul class="inline">
    <li><a href="http://weibo.com/liuzhouyeshi" target="_blank">新浪微博：@柳州夜市</a></li>
    <li><a href="http://t.qq.com/liuzhouyeshi" target="_blank">腾讯微博：@柳州夜市</a></li>
  </ul>
  <%= image_tag 'wechat_mp_258x258.jpg', class: 'weixin_mp' %>
</div>
