<%= simple_form_for [@topic,@topic.replies.new] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body, as: :text, as: :kindeditor, owner_id: current_user._id, allowFileManager: false, link: false, input_html: {simple_mode: true} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end -%>
