<div class="node-topics-header">
  <div class="col-md-6 col-lg-6">
    <strong>标题</strong>
  </div>
  <div class="col-md-2 col-lg-2">
    <strong>作者</strong>
  </div>
  <div class="col-md-2 col-lg-2">
    <strong>回复/查看</strong>
  </div>
  <div class="col-md-2 col-lg-2">
    <strong>最后发表</strong>
  </div>
  <div class="clearfix"></div>
</div>

