<div class="bbd">
  <%= image_tag "wechat_mp_258x258.jpg" %>
  <p class="psidebar">扫一扫,关注<b>柳州夜市</b><br />微信号: <b>lzyeshi</b></p>
</div>

<div class="bbd psidebar">
  <iframe src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=liuzhouyeshi&style=1&t=1372392164436&f=1" frameborder="0" scrolling="auto" width="227" height="75" marginwidth="0" marginheight="0" allowtransparency="true"></iframe>
</div>

<div class="bbd psidebar">
  <wb:follow-button uid="3290433354" type="red_3" width="100%" height="24" ></wb:follow-button>
</div>
