<div class="pull-right">
  <%= paginate @topics %>
</div>
<div class="clearfix"></div>
<% @topics.each do |reply| %>
  <div class="tiezi">
    <table class="table">
      <tr>
        <td>
          <div class="tiezi-user">
            <%= link_to reply.user, reply.user %>
          </div>
        </td>
        <td>
          <div class="tiezi-body">

          </div>
        </td>
      </tr>
    </table>
  </div>
<% end -%>
