<%= link_to t('title'), root_url(subdomain: ENV['ADMIN_SUBDOMAIN']), :class => 'navbar-brand' %>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to '柳州夜市', root_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <%= render_cell :layouts, :login, user: current_user %>
  </ul>
</div>
