<% @pictures.each do |picture| %>
  <div class="picture">
    <%= link_to picture, target: '_blank' do %>
      <%= image_tag picture.image.thumb %>
    <% end -%>
    <br />
    <%= link_to "删除", picture_path(picture.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :remote => true %>
  </div>  
<% end %>
<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @pictures %>
</div>
<div class="clearfix"></div>
