<h1><%= @group.name %></h1>
<%= content_tag :dl,class: 'dl-horizontal' do %>
  <%#= d @group,:price %>
  <%#= d @group,:reserve %>
  <%#= d @group,:desc %>
  <dt>款式</dt>
  <dd>
  <ul class="groups_ul inline">
    <% @group.commodities.each do |commodity| %>
      <li>
        <%= link_to commodity do %>
          <%= image_tag commodity.picture.image.thumb %>
        <% end -%>
      </li>
    <% end -%>
  </ul>
  <div class="clearfix"></div>
  </dd>
<% end -%>
