<h1><%= title "联系方式" %></h1>

<dl class="dl-horizontal">
  <% @contacts.each do |contact| %>
    <%= d_contact contact %>
  <% end -%>
  <dt>
    留言板
  </dt>
  <dd><%= render "comments/form", parent: nil, comment: Comment.new, any_comments: @comments.any? %></dd>
</dl>
