<!-- DOWNLOAD PAGE -->


<div id="应用下载" class="page">
  <h1>应用下载</h1>	
  <h2>客户版</h2>
  <div class="downloader full-width">
    <p>版本：1.00 大小：3.3MB</p>
    <p>发布日期：2013年4月20号</p>
    <p>系统要求：Android 2.2或更高版本</p>
    <p>
      <a href="/client.apk">
        <%= image_tag 'img/button.png',alt:'即刻下载',title:'即刻下载' %>
      </a>
    </p>
  </div>

</div><!-- end download page -->					
