<% @commodities.group_by{|c| c.name}.each do |name,commodities| %>
  <h2>分类: <%= name %></h2>
  <% commodities.each do |commodity| %>
    <%= link_to commodity do %>
      <%= image_tag commodity.picture.image.thumb.url %>
    <% end -%>
  <% end -%>
  <div class="clearfix"></div>
<% end %>

