<h1>商品列表</h1>
<% @commodities.each do |commodity| %>
  <%= link_to commodity do %>
    <%= image_tag commodity.picture.image.thumb.url %>
  <% end -%>
<% end %>

<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @commodities %>
</div>
<div class="clearfix"></div>
