.photo-text-200{
  width: 200px;
  height: 252px;
  padding: 6px;
  border: 1px solid #ececec;
  /*border-bottom: 0;*/
  position: relative;
  overflow: hidden;
  /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
  /*-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
  /*box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
}

.photo200-box{
  display: table-cell;
  width: 200px;
  height: 200px;
  font: 12px/1 Tahoma,Helvetica,Arial;
  text-align: center;
  vertical-align: middle;
}

.sw-mod-offerShopwindow-title {
  margin: 8px 2px 6px 2px;
  line-height: 18px;
}

a.sw-ui-font-title12, a.sw-ui-font-title12:link, a.sw-ui-font-title12:hover, a.sw-ui-font-title12:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  font-family: '宋体';
  text-decoration: none;
}

.sw-mod-offerShopwindow {
  color: #888;
}

.sw-mod-offerShopwindow {
  float: left;
  position: relative;
  color: #888;
  display: inline;
}

.sw-mod-offerShopwindow4 .sw-mod-offerShopwindow {
  width: 186px;
  margin: 0 0 16px 16px;
}

.sw-mod-offerShopwindow {
  width: 214px!important;
}

.sw-mod-offerShopwindow4 {
  margin-left: -16px;
  zoom: 1;
}

.sw-mod-offerShopwindow3, .sw-mod-offerShopwindow4 {
  margin-bottom: 30px;
  _zoom: 1;
}
.sw-layout-mod {
  zoom: 1;
  clear: both;
  margin-bottom: 8px;
}

a.sw-mod-previewCompanyInfo, a.sw-mod-previewCompanyInfo:link, a.sw-mod-previewCompanyInfo:active, a.sw-mod-previewCompanyInfo:visited {
  color: #444;
  text-decoration: underline;
  border-bottom: 1px solid #444;
  padding-bottom: 1px;
  text-decoration: none;
}
a.sw-mod-previewCompanyInfo, a.sw-mod-previewCompanyInfo:link, a.sw-mod-previewCompanyInfo:active, a.sw-mod-previewCompanyInfo:visited {
  color: #444;
  text-decoration: underline;
  border-bottom: 1px solid #444;
  padding-bottom: 1px;
  text-decoration: none;
}
a.sw-mod-previewCompanyInfo, a.sw-mod-previewCompanyInfo:link, a.sw-mod-previewCompanyInfo:active, a.sw-mod-previewCompanyInfo:visited {
  color: #444;
  text-decoration: underline;
  border-bottom: 1px solid #444;
  padding-bottom: 1px;
  text-decoration: none;
}
