.commodity_image{
  _width: auto;
  _height: auto;
}
/*#footer{
  font: 12px/1.5 Tahoma,Arial,"宋体b8b\4f53",sans-serif;
  color: #999;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}*/
.footer-container{
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin-top: 30px\9;
}
.weixin_mp{
  width: 120px;
  height: 120px;
}
.icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.li-commodity{
  display: inline-block;
  width: 130px\9;
  height: 130px\9;
  _width: 132px;
  _height: 132px;
  _padding-left: 5px;
  _padding-right: 5px;
}
.commodity{
  width: 120px\9;
  height: 160px\9;
}
.clearfix{
  +clear: both;
}
.span9{
  _width: 620px;
}
.picture{
  +width: 124px;
  +height: 160px;
}
.bs-docs-sidenav-li{
  _width: 236px;
  _padding: 0 10px;
}