$hack_ie6:'_';
$hack_ie7:'+';
.commodity_image{
  #{$hack_ie6}width: auto;
  #{$hack_ie6}height: auto;
}
.footer-container{
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin-top: 30px\9;
}
.weixin_mp{
  width: 120px;
  height: 120px;
}
.icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.li-commodity{
  display: inline-block;
  width: 130px\9;
  height: 130px\9;
  #{$hack_ie6}width: 132px;
  #{$hack_ie6}height: 132px;
  #{$hack_ie6}padding-left: 5px;
  #{$hack_ie6}padding-right: 5px;
}
.commodity{
  width: 120px\9;
  height: 160px\9;
}
.clearfix{
  #{$hack_ie7}clear: both;
}
.span9{
  #{$hack_ie6}width: 620px;
}
.picture{
  #{$hack_ie7}width: 124px;
  #{$hack_ie7}height: 160px;
}
.bs-docs-sidenav-li{
  #{$hack_ie6}width: 236px;
  #{$hack_ie6}padding: 0 10px;
}
