.recent-commodity{
  float: left;
  margin: 10px;
}
.recent-commodity-image{
  width: 100px;
  height: 100px;
}
.recent-commodity-title{
  width: 100px;
  white-space:nowrap;
  overflow: hidden;
}

.recent-comment{
  margin-bottom: 5px;
  border-bottom: dotted 1px;
}

.bbd{
  border-bottom: dotted 1px;
  margin-bottom: 10px;
}
.sidebar{
  margin-bottom: 10px;
}
.psidebar{
  padding: 10px 20px;
}
